{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% if config.extra.keywords %}
    <meta name="keywords" content="{{ config.extra.keywords }}">
  {% endif %}

  {% set og_title = config.site_name if page.is_homepage else page.title ~ " - " ~ config.site_name %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ config.site_name }}">
  <meta property="og:title" content="{{ og_title }}">
  {% if page and page.canonical_url %}
    <meta property="og:url" content="{{ page.canonical_url }}">
  {% endif %}
  {% if page and page.meta and page.meta.description %}
    <meta property="og:description" content="{{ page.meta.description }}">
  {% elif config.site_description %}
    <meta property="og:description" content="{{ config.site_description }}">
  {% endif %}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ og_title }}">
  {% if page and page.meta and page.meta.description %}
    <meta name="twitter:description" content="{{ page.meta.description }}">
  {% elif config.site_description %}
    <meta name="twitter:description" content="{{ config.site_description }}">
  {% endif %}
{% endblock %}
